:root{
    --main-color:#64CCC5;
    --black1-color: #0C0C0C;
    --black2-color:#121212;
    --width1-color:#FFFFFF;
    --width2-color:#F4F4F4;
    --width3-colot:#DFDFDF;
    
}

header{
    background-color: var(--width1-color);
}

header nav li a{
    color: var(--black1-color);
}

header .loging span{
    color: var(--black1-color);
}
header .loging a{
    background-color: var(--black1-color);
    color: var(--width1-color);
}

/* header */ 

/* portfolio */

.portfolio{
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.pheading{
    width: 100%;
    padding: 4rem 0;
    background-color: var(--black1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.pheading h2{
    color: var(--width1-color);
}


/* portfolio end */

/* Recent Showcase */
.recent{
    padding-top: 1rem;
}
.recent-contant img{
    width: 100%;
}
/* Recent Showcase end */

.last-contant {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 5rem 0;
    border-radius: 15px;
    background: url(../img/img11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.last-contant h3{
    color: var(--width1-color);
    font-size: 45px;
    font-family: "Roboto Serif", serif;
    font-weight: 700;
    text-align: center;
}
.last-contant a{
    padding: .5rem 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--width3-colot);
    background-color: transparent;
    color: var(--width1-color);
    transition: .5s;
}
.last-contant a:hover{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

@media (max-width:1320px){
    
}
@media (max-width:1140px){
}
@media (max-width:960px){ 
    .last-contant h3{
        font-size: 35px;
    }
}
@media (max-width:720px){
}
@media (max-width:540px){  
    .last-contant h3{
        font-size: 25px;
    }
}